.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.form-control-invalid {
  margin: 1rem 0;
  text-align: center;
  color: red;
  border-color: red;
  background: #ffd1d1;
}

.form-control {
  display: block;
  margin: 1rem 0;

  margin-bottom: 0.5rem;
}

.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background-color: white;
}
